.productForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.productsList {
    padding: 1rem;
}

.productCard {
    position: relative;
}

.productDeleteBtn {
    position: absolute !important;
    top: 10px;
    right: 10px;
}